# IDEs
.idea/

# Hugo
/resources/
public/
.DS_Store
content/posts/.DS_Store
content/posts/.DS_Store
content/.DS_Store
content/.DS_Store
assets/.DS_Store
content/.DS_Store
content/authors/.DS_Store
content/layouts/.DS_Store
content/layouts/partials/.DS_Store
content/.DS_Store
content/layouts/.DS_Store
content/layouts/partials/.DS_Store
